process {
    executor = 'slurm'  // Use Slurm as the executor
    queue = 'general-compute' // Replace with the appropriate Slurm partition/queue name
    clusterOptions = '--qos=general-compute'       // Use node-local storage for temporary files

    // Set default resources for processes
    cpus = 2
    memory = 8.GB
    time = 1.h
    scratch = true

    // Low-resource processes
    withLabel:process_low {
        cpus = 4
        memory = 32.GB
        time = 2.h
    }


    // Medium-resource processes
    withLabel:process_medium {
        cpus = 8
        memory = 64.GB
        time = 4.h
    }


    // High-resource process for PLINK2_SCORE
    withName:PLINK2_SCORE {
        cpus = 8
        memory = 64.GB
        time = 6.h
        scratch = true
    }

    // Set a default temporary directory for all processes
    TMPDIR = '/vscratch/grp-songyao/pnfioric/temp_dir'
}

env {
    TMPDIR = '/vscratch/grp-songyao/pnfioric/temp_dir'  // Use node-local scratch space as TMPDIR
}

executor {
    clusterOptions = '--export=ALL'  // Export all environment variables to the Slurm job

}
